@import '../../styles/colors.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 250px;
  height: 320px;
  padding: 10px;
  background-color: #e2e0e0;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 20%), 0px 3px 4px rgb(0 0 0 / 12%),
    0px 2px 4px rgb(0 0 0 / 14%);
  border-radius: 8px;

  &__image {
    width: 150px;
    border-radius: 12px;
    margin-bottom: 5px;
  }

  &__name,
  &__author {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__button {
    font-family: 'Roboto';
    width: 180px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 0.9px;
    border-radius: 12px;
    border: 2px solid $bright-color;
    color: $bright-color;
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $bright-color;
      border: 2px solid $bright-color;
      color: $font-color;
      box-shadow: 1px 2px 4px 4px rgb(0 0 255 / 5%);
    }
  }
}
