@import './styles/colors.scss';

@font-face {
  font-family: 'Roboto';
  src: url('./styles/fonts/Roboto-Thin.ttf');
}

:root {
  font-size: 10px;
}

body {
  background-color: $bg-color;
  font-family: 'Roboto', sans-serif;
  color: $bright-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
}

.main__title-container {
  height: 7vh;
  width: 100%;
  background-color: $bright-color;
  font-size: 26px;
  margin: 20px 0;
  opacity: 0.3;
  text-transform: capitalize;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
