@import './../../styles/colors.scss';

.painters-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  width: 380px;

  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

  &__img {
    width: inherit;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 2px 4px 4px rgba(0, 0, 255, 0.2);
    }
  }

  &__text {
    font-size: 20px;
    color: $bright-color;
    margin: 20px 10px;
  }

  &__answers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5px;
  }

  &__answer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    border: 1px solid #eaeaea;
    padding: 3px;
    margin: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;

    &:hover {
      cursor: pointer;
      box-shadow: 1px 2px 4px 4px rgb(0 0 255 / 20%);
    }
  }
}
