@import './../../styles/colors.scss';

.gallery-card {
  height: 273px;
  width: 200px;
  margin-bottom: 60px;
  background-color: $font-color;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 255, 0.2);
  }

  &__image {
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__text {
    display: flex;
    height: 70px;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px 12px;
    font-size: 14px;
    color: green;
  }
}
